---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/layout/Header.astro';
import Hero from '../components/sections/Hero.astro';
import About from '../components/sections/About.astro';
import Projects from '../components/sections/Projects.astro';
import AGClub from '../components/sections/AGClub.astro';
import Services from '../components/sections/Services.astro';
import Supply from '../components/sections/Supply.astro';
import Advantages from '../components/sections/Advantages.astro';
import Tourism from '../components/sections/Tourism.astro';
import Partners from '../components/sections/Partners.astro';
import Contact from '../components/sections/Contact.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <About />
    <Projects />
    <AGClub />
    <Services />
    <Supply />
    <Advantages />
    <Tourism />
    <Partners />
    <Contact />
  </main>
</BaseLayout>
